header{
  width:100%;
  background-color: #31455A;
  color: #fff;
  padding: 10px;
}

.hero{
  width: 100%;
  height: 450px;
  background-image: url("../imgs/hero.jpg");
  background-size: cover;
  color: #fff;
}

h1{
  margin:auto;
}

body{
  background: #EEF1F1;
}

/* Form Styling */
label {
  display: none;
}

::-webkit-input-placeholder{
  color: #555;
}

.input-field input[type=text],
.input-field input[type=email],
.input-field input[type=url]{
  background: #fff;
  border: 1px solid #ccc;
  padding-left: 10px;
  margin: 0;
}

.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=url]:focus {
  border: 1px solid #ccc;
  box-shadow: none;
}

/* Invalid Submission Styling */
form.ng-submitted input.ng-invalid {
  border: 1px solid #ea6559;
}

.error{
  text-align: right;
  margin-top: -34px;
  position: absolute;
  width: 100%;
  color: #ea6559;
  animation: fadeIn 1s;
}

/* Submit Button Styling */
.btn-large{
  margin-top: 15px;
  border-radius: 0;
  box-shadow: none;
  background-color: #008ABD;
}

.btn-large:hover, .btn-large:focus{
  background-color: #00688e;
  box-shadow: none;
}

/* Camper Card Styling*/
.card{
  background-color: #31455A;
  max-width: 300px;
  margin-top: 15px;
  border-radius: 5px;
}

.card-content{
  text-align: center;
}

#camper-avatar{
  max-width: 150px;
}


/* Animations */
.icon-people:hover {
  animation: tada 1s;
}

header span:hover{
  animation: pulse 1s;
}