<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Happy Camper</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="css/animate.min.css">
  <link rel="stylesheet" type="text/css" href="css/simple-line-icons.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.1/angular.min.js"></script>
  <script src="app.js"></script>
</head>

<body ng-app="happyCamper">
  <header><i class="icon-map"> </i>HappyCamper</header>
  <div class="hero valign-wrapper">
    <h1 class="valign"><i class="icon-people"> </i>Add your camping team</h1>
  </div>
  <div class="row" ng-controller="camperController">
    <div class="col s6">
      <form name="camperForm" novalidate ng-submit="create(camper, camperForm.$valid)">

        <div class="input-field">
          <label for="first-name">First Name</label>
          <input type="text" name="first-name" placeholder="First Name" class="validate" ng-model="camper.firstName" ng-model-options="{updateOn: 'submit'}" required>
        </div>

        <div class="input-field">
          <label for="last-name">Last Name</label>
          <input type="text" name="last-name" placeholder="Last Name" class="validate" ng-model="camper.lastName" ng-model-options="{updateOn: 'submit'}" required>
        </div>

        <div class="input-field">
          <label for="occupation">Occupation</label>
          <input type="text" name="occupation" placeholder="Occupation" class="validate" ng-model="camper.occupation" ng-model-options="{updateOn: 'submit'}" required>
        </div>

        <div class="input-field">
          <label for="email">Email address</label>
          <input type="email" name="email" placeholder="Email address" class="validate" ng-model="camper.email" ng-model-options="{updateOn: 'submit'}" required>
        </div>

        <div class="input-field">
          <label for="pic">Link to an image</label>
          <input type="url" name="pic" placeholder="Link to an image" class="validate" ng-model="camper.pic" ng-model-options="{updateOn: 'submit'}" required>
        </div>

        <button type="submit" class="btn-large animated">Add Camper</button>
      </form>
    </div>

    <div class="col s4">
      <div ng-show="showCard" class="card">
        <div class="card-content white-text">
          <img ng-src="{{camperCard.pic}}" class="circle responsive-img" id="camper-avatar"></li>
          <h5>{{camperCard.firstName}} {{camperCard.lastName}}</h5>
          <p>{{camperCard.occupation}}</p>
          <p>{{camperCard.email}}</p>
          </ul>
        </div>
      </div>
    </div>

  </div>

</body>


</html>